<div class="list-header">
  <button mat-raised-button color="primary" routerLink="/add">
    <mat-icon>person_add</mat-icon>
    Add Person
  </button>
</div>

<div *ngIf="persons.length > 0; else emptyList">
  <mat-card *ngFor="let p of persons; index as i" class="person-card">
    <mat-card-header>
      <mat-card-title>{{ p.firstName }} {{ p.familyName }}</mat-card-title>
      <mat-card-subtitle>Age: {{ p.age }} years</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ p.address.city }}, {{ p.address.street }}, {{ p.address.postCode }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="accent" [routerLink]="['/details', i]">
        <mat-icon>info</mat-icon> Details
      </button>
      <button mat-button color="warn" (click)="delete(i)">
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #emptyList>
  <mat-card class="empty-card">
    <p>List empty</p>
  </mat-card>
</ng-template>
